* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.logo {
    min-width: 100px;
}
.logo img {
    width: 100%;
}
.header {
    height: 124px;
    /* border: 1px solid red; */
}
.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 100%;
}

.main {
    display: block;
}
.container {
    /* border: 1px solid blue; */
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}
.footer {
    height: 154px;
    border: 1px solid red;
}
.footer-nav {
    flex-grow: 1;
}
.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    height: 100%;
}